---
import { SEO } from "astro-seo";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/opengraph.png", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "Fysioterapi 25" : "Home | Fysioterapi 25";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-L876MMH9PM"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      // Consent: This should ALWAYS be set before the gtag("config", "G-XXXXXXXXXX"); line
      gtag("consent", "default", {
        ad_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
        analytics_storage: "denied",
      });
      
      gtag("config", "G-L876MMH9PM");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Profesjonell fysioterapi i hjertet av Lørenskog. Fysioterapi25 tilbyr laser behndling behandling for smerter, skader og belastningsplager - med kort ventetid og erfaren terapeut. Bestill time i dag!"
      canonical={canonicalURL}
      twitter={{
        creator: "@bjornharvold",
        site: "@https://fysioterapi25.com",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Fysioterapi 25 - Laser for helse`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Fysioterapi 25 laser",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
